<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.UciStudentCenterAndEventServices.ArtGallery">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ZotGalleryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ZotGallery"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArtBeaconsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".NavigationActivity"></activity>


        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="0a36df01-8c33-45e9-884b-d0c3a1aac5ce"/>
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="CFYuE7/rEU7MZJWS1vV3nZOH4Ep+jLGxwuf4JMRnLl3WcZlwyCYTYB/6HL6AGkjxJ56vC/kHkUk5csLudOeQ6cNw721GEvfzBJtvwPek8eQ3On83NXlZeI38kSfD8A=="/>


    </application>

</manifest>